<!DOCTYPE html>
<html lang="pt-BR">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <main>
        <%- include('partials/hero_about') %>
        <%- include('partials/projects') %>
        <%- include('partials/hub') %>
        <%- include('partials/catalog') %>
        <%- include('partials/contact') %>
    </main>
    <%- include('partials/modals_scripts') %>
</body>
</html>
